<div class="primary" >
    <section class="title">
        <p style="font-size: 18px;">
            <i class="fa-brands fa-slack "style="color: rgb(45, 233, 45); font-size:23px"></i> 
            Finance Tracker
        </p>
    </section>

    <a routerLink="/dashboard/home"> <section class="button-settings " >
        <i class="fa-solid fa-house icon-setting" style="color: rgb(40, 207, 40)"></i>Home
    </section></a>
   
    <a routerLink="/dashboard/expense"> <section class="button-settings " >
        <i class="fa-solid fa-file-invoice-dollar icon-setting"></i>Add Expenses
    </section></a>
 
    <a routerLink="/dashboard/income"> <section class="button-settings " >
        <i class="fa-solid fa-coins icon-setting"></i>Add Income
    </section></a>
   
    <a routerLink="/dashboard/saving"> <section class="button-settings " >
        <i class="fa-solid fa-piggy-bank icon-setting"></i>Add Saving
    </section></a>

    <a routerLink="/dashboard/income-allocation"> <section class="button-settings " >
        <i class="fa-solid fa-coins icon-setting"></i> Income Allocation
    </section></a>
 
    <a routerLink="/dashboard/accounts"> <section class="button-settings " >
        <i class="fa-solid fa-chart-simple icon-setting"></i>Accounts
    </section></a>
</div>

