<div class="background-settings" style="background: url(assets/money.jpg);">
<div class="width">
    <img src="assets/logo.png" alt="error">
    <div class="mb-3 row">
      <div class="col-sm-10">
        <label for="exampleDropdownFormEmail1" class="form-label">Email address</label>
      <input type="email" class="form-control" id="exampleDropdownFormEmail1" placeholder="email@example.com">
      </div>
    </div>
    <div class="mb-3 row">
      <div class="col-sm-10">
        <label for="exampleDropdownFormPassword1" class="form-label">Password</label>
      <input type="password" class="form-control" id="exampleDropdownFormPassword1" placeholder="Password">
      </div>
    </div>
    <div class="mb-3">
      <div class="form-check">
        <input type="checkbox" class="form-check-input" id="dropdownCheck">
        <label class="form-check-label" for="dropdownCheck">
          Remember me 
        </label>
        <a href="#" style="margin-left: 100px;">Forgot password?</a>
      </div>
      
      <a href="#">New around here? Sign up</a>
    </div>
      <div class="col-auto row justify-content-center">
        <button type="submit" class="btn btn-primary mb-3" routerLink="/dashboard/home" >Submit</button>
      </div>
</div>
</div>
