<p>Wants</p>
<div class="indicate">
    <p>Usage</p>
    <div class="bar-container">
        <div class="bar" [style.width.%]="level"></div>
    </div>
    <p>Allocated</p>
</div>
<p>Needs</p>
<div class="indicate">
    <p>Usage</p>
    <div class="bar-container">
        <div class="bar" [style.width.%]="level"></div>
    </div>
    <p>Allocated</p>
</div>
<p>Savings</p>
<div class="indicate">
    <p>Usage</p>
    <div class="bar-container">
        <div class="bar" [style.width.%]="level"></div>
    </div>
    <p>Allocated</p>
</div>